h5py                          2.9.0
Keras                         2.3.1
Keras-Applications            1.0.8
Keras-Preprocessing           1.1.2
matplotlib                    3.3.3
numpy                         1.18.0
opencv-python                 4.4.0.46
pandas                        1.1.5
Pillow                        8.0.1
scikit-image                  0.16.2
scipy                         1.4.1
spyder                        4.1.5
tensorflow                    2.1.0